
# Temp fix for unwanted icons files being included
desktop/.local/share/icons/hicolor/*/*
!desktop/.local/share/icons/hicolor/
!desktop/.local/share/icons/hicolor/64x64/apps
# !desktop/.local/share/icons/hicolor/512x512/apps

# GnuPG configs
gnupg/.gnupg/*
!gnupg/.gnupg/gpg-agent.conf

# Helix editor configs
helix/.config/helix/*
!helix/.config/helix/config.toml
!helix/.config/helix/languages.toml

# systemd user units
systemd/.config/systemd/user/*
!systemd/.config/systemd/user/*.timer
!systemd/.config/systemd/user/*.service

# Yazi editor configs
yazi/.config/yazi/*
!yazi/.config/yazi/yazi.toml
!yazi/.config/yazi/theme.toml
!yazi/.config/yazi/keymap.toml
