[Desktop Entry]
Version=1.0
Type=Application
Name=Ghidra
Comment=NSA Reverse Engineering Framework
Icon=ghidra
Exec=env _JAVA_AWT_WM_NONREPARENTING=1 ghidraRun
Terminal=false
Categories=Development;X-ReverseEngineering;
