[Unit]
Description=Battery Notification Daemon

[Service]
Type=simple
ExecStart=%h/.local/dbin/battery-monitor
Restart=on-failure
RestartSec=3

[Install]
WantedBy=default.target
