[Unit]
Description=Battery Notification Daemon
After=graphical-session.target

[Service]
Type=simple
ExecStart=%h/.local/dbin/battery-monitor
Restart=on-failure
RestartSec=3

[Install]
WantedBy=graphical-session.target
