[Unit]
Description=Battery Notification Daemon
After=graphical.target
Wants=graphical.target

[Service]
Type=simple
ExecStart=%h/.local/dbin/battery-monitor
Restart=on-failure
RestartSec=3
# Environment=DISPLAY=:0
# Environment=XAUTHORITY=/home/%i/.Xauthority

[Install]
WantedBy=default.target

